.customer-line{
	background: lightcyan;
	border: 1px solid black;
	border-radius: 4px;
	//margin:  20px;
	padding:  10px;
	width:  75%;
	font-size:  18px;
}

.customModal {
  max-width: 500px;
  width: 100%;
}

.disabledPagination{
	cursor:  not-allowed;
}

.custom-container-pagination{
	display: inline-flex;
	list-style: none;
	margin:  10px;
}

.custom-li-pagination, .custom-break-pagination{
	padding: 5px 10px;
    border: 1px solid #007bff;
}

.custom-active-pagination{
	background-color: #007bff;
}

.custom-active-link-pagination, .custom-active-link-pagination:hover{
	color: white;
}
