
.custom-padding-10{
  padding: 10px;
}

.custom-padding-20{
  padding: 20px;
}

.width-50{
  width: 50%;
}

.margin-10{
  margin: 10px;
}

.label-span{
  cursor: pointer;
  border:  1px solid black;
  margin:  10px;
  display: inline-block;
}

.active-label{
  background-color: lightgrey;
}

.custom-right{
  float:  right;
}